/*
Author: Lauren Tucker

Description: This site was created to meet the Project 2 specifications for Udacity's Front-End Developer Nanodegree. 
Demonstrates what I have learned so far with HTML, CSS, JavaScript and jQuery. 

*/

/*----------------------------------------------------------------
# Global
----------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

/*----------------------------------------------------------------
# Grid
----------------------------------------------------------------*/

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    display: inline-block;
}

/*----------------------------------------------------------------
# Elements
----------------------------------------------------------------*/
a {
    color: rgb(75, 180, 158);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

section > div {
    padding: 20px;
}

section h2 {
    background-color: rgb(179, 0, 0);
    padding: 10px 10px 10px 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: normal;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: small;
}


/*----------------------------------------------------------------
# Navigation
----------------------------------------------------------------*/
nav {
    background-color: #000;
}

nav ul {
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 18px;
    align-items: center;
}

nav li:first-of-type {
    color: white;
    font-weight: bold;
    font-size: small;
    padding-right: 30px;
    letter-spacing: 0.3em;
}

nav li a {
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    color: rgb(179, 0, 0);
    margin-top: 0;
}

nav li a:hover {
    background-color: rgb(75, 180, 158);
    color: #fff;
}

/*----------------------------------------------------------------
# Content
----------------------------------------------------------------*/
.main a {
    font-size: 1.2em;
    font-weight: bold;
}

#logo {
    background-color: rgb(75, 180, 158);
    line-height: 0;
    width: 150px;
    height: 150px;
}

.header {
    width:calc(100% - 150px);
}

.resumeHeader {
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(179, 0, 0);
    color: white;
    height: 100px;
    padding: 5px 0;
}

.resumeHeader h1,
.resumeHeader h2 {
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 2.8em;
    line-height: 1em;
    letter-spacing: 0.5em;
    font-weight: normal;
}

.resumeHeader h2 {
    color: rgb(75, 180, 158);
}

#topContacts {
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
}

.contact-method {
    color: rgb(179, 0, 0);
    font-weight: bold;
    padding-right: 3px;
}

.contact-info {
    font-weight: bold;
}

#introduction {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 187px);
}

#introduction .flex-item {
    padding: 60px;
}

#introduction h3 {
    font-family: "Pacifico", serif;
    font-size: 5em;
    font-weight: normal;
}

.welcome-message {
    color: rgb(75, 180, 158);
}

#skills li {
    background-color: rgb(75, 180, 158);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.skills-title {
    font-family: "Pacifico", serif;
    font-size: 0.4em;
    color: rgb(179, 0, 0);
}

.project-entry img {
    width: 220px;
    padding: 10px;
}

.date-text,
.location-text {
    font-size: 0.9em;
    font-style: italic;   
    font-weight: bold; 
}

#education h3 {
    font-family: "Pacifico", serif;
    color: rgb(179, 0, 0);
    font-size: 1.5em;
    padding: 20px 0 0 20px;
}

.online-url a {
    text-transform: lowercase;
    font-size: 1em;
    color: rgb(179, 0, 0);
    font-weight: normal;
}

#map {
    height: 400px;
}

#footerContacts {
    padding: 5px;
    align-items: center;
    justify-content: space-around;
}

#footerContacts li {
    padding: 5px;
}

/*----------------------------------------------------------------
# Media
----------------------------------------------------------------*/

/* Default is large desktops: 1200px and up */

@media only screen and (max-width: 1084px) {

    #introduction {
        height: auto;
    }
    
    .welcome-message {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    
    #topContacts {
        height: 50px;
        align-items: center;
        justify-content: flex-end;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #topContacts li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 833px) {
    
    .resumeHeader h1,
    .resumeHeader h2 {
        padding: 0 10px;
        font-size: 2.6em;
        line-height: 1em;
        letter-spacing: 0.3em;
    }

    nav ul {
        justify-content: flex-end;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 18px;
    }

    nav li a {
        padding: 5px 5px;
 
    }

    #topContacts {
        font-size: 1em;
        padding-right: 15px;
    }

    #introduction .flex-item {
        padding: 40px 60px;
    }

    #footerContacts {
        font-size: 0.9em;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 678px) {

    * {
        word-wrap: break-word;
    }

    .resumeHeader h1,
    .resumeHeader h2 {
        padding: 0 10px;
        font-size: 2em;
        line-height: 1em;
        letter-spacing: 0.2em;
    }

    .explore {
        display: none;
    }

    #footerContacts {
        font-size: 0.7em;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        justify-content: space-around;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0;
    }
}

@media only screen and (max-width: 600px) {

    #logo {
        width: 100px;
        height: 100px;
    }

    .header {
        width: calc(100% - 100px);
    }

    .resumeHeader {
        height: 67px;
    }

    #topContacts {
        height: 33px;
        font-size: 0.5em;
        padding-right: 10px;
    }

    .resumeHeader h1,
    .resumeHeader h2 {
        padding: 0 5px;
        font-size: 1.5em;
        line-height: 1em;
        letter-spacing: 0.2em;
    }

    #introduction h3 {
        font-size: 3.4em;
    }

    #introduction,
    #projects,
    #education,
    #workExperience,
    #map-div,
    #connect {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {

    .resumeHeader h1,
    .resumeHeader h2 {
        padding: 0 5px;
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 0.2em;
    }

    #topContacts {
        height: 33px;
        font-size: 0.3em;
        padding-right: 10px;
    }

    nav ul {
        font-size: 0.6em;
        font-weight: bold;
    }

    #introduction h3 {
        font-size: 2.3em;
    }

    #introduction .flex-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        font-size: 0.8em;
    }
}

